@charset "utf-8";

/*container*/
#container{display:inline-block; text-align:center;}

/*mainSlider*/
.mainSlider{display:block; width:800px; height:400px; background-color:red;}
.mainSlider p{text-align:center; line-height:400px; }

/*mainCon01*/

.mainconWrap{display:block;}
.mainCon01{ padding:80px 0; text-align:center; width:800px;}

.mainCon01 li{width:150px; height:150px; display:inline-block; background-color:#000; margin-right:30px; border-radius:50%;   line-height:150px;}
.mainCon01 a{color:#fff;}

.mainCon01 li:last-child{margin:0;}



.conL{position:absolute; left:700px; top:540px;}
.conL a{color:#000; font-size:20px; font-weight:bold;}
.conR{position:absolute; right:500px; top:540px;}
.conR a{color:#000; font-size:20px; font-weight:bold;}
